* {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    width:1000px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

.boxi {
    flex: 0 0 100px;
    height: 100px;
    background: black;
    border: 1px solid white;
}